<h1>Listing swarms</h1>

<table>
  <tr>
    <th>User</th>
    <th>Torrent</th>
    <th>Ip address</th>
    <th>Port</th>
  </tr>

<% for swarm in @swarms %>
  <tr>
    <td><%=h swarm.user_id %></td>
    <td><%=h swarm.torrent_id %></td>
    <td><%=h swarm.ip_address %></td>
    <td><%=h swarm.port %></td>
    <td><%= link_to 'Show', swarm %></td>
    <td><%= link_to 'Edit', edit_swarm_path(swarm) %></td>
    <td><%= link_to 'Destroy', swarm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New swarm', new_swarm_path %>
