<h1>Editing torrent</h1>

<% form_for(@torrent) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :meta_info %><br />
    <%= f.text_field :meta_info %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @torrent %> |
<%= link_to 'Back', torrents_path %>
