<h1>New torrent</h1>


<% form_for( :torrent, @torrent, :url => {:action => 'create'},:html => {:multipart => true}) do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <%= f.file_field 'torrent_file' %>
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, {:include_blank =>'Select Category'}) %>
    <br /><br />
    Tags (Comma Seperated): <%= f.text_field :tag_list %><br />
    <%= submit_tag "Upload" %>
  </p>
<% end %>


<%= link_to 'Back', torrents_path %>
