<h1>Results for: <%= @query %></h1>

<%= render :partial => "shared/torrents", :locals => {:torrents => @torrents} %>
<br />

<%= form_tag (:action => 'search')%>
<%= text_field 'q', nil  %>
<%= submit_tag 'Search' %>

</form>
