<p>
  <b>Name:</b>
  <%=h @torrent.name %>
</p>

<p>
  <b>Size:</b>
  <%=h @torrent.size %>
</p>

<p>
  <b>Meta info:</b>
  <%=h @torrent.meta_info %>
</p>


<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>
