<p>
  <b>Name:</b>
  <%=h @torrent.name %>
</p>

<p>
  <b>Size:</b>
  <%=h display_size(@torrent.size) %>
</p>

<p>
  <b>Category:</b>
  <%=h @torrent.category.name %>
</p>

<p>
  <b>Tag List:</b>
  <%=h @torrent.tag_list %>
</p>

<p><%= link_to "Download" , :action => :download_torrent_file, :id => @torrent.id %></p>

<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>


