<p>
  <b>Name:</b>
  <%=h @torrent.name %>
</p>

<p>
  <b>Size:</b>
  <%=h @torrent.size %>
</p>

<p>
  <b>Category:</b>
  <%=h @torrent.category.name %>
</p>

<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>
