<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>

<% if facebook_session %>
<%= fb_profile_pic "loggedinuser" %>
<h2>You are logged in as <%= facebook_session.user.name %></h2>
<ul>
  <% for friend in facebook_session.user.friends[0..10] -%>
  <li><%= fb_profile_pic friend %> -- <%= friend.name %></li>
  <% end %>
</ul>
<% else %>
<h2>You are not logged in!</h2>
<%= fb_login_button %>
<% end %>
