<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>

<%= fb_login_button "autologoutlink" => true %>
<h2>You are logged in as <%= @user.name %></h2>
<%= fb_profile_pic "loggedinuser", "facebook-logo" => true %>
