<div id="headline">
  <table style="width: 100%;">
  <tr><td style="min-width: 70%;"><h1><%=h @user.name %></h1></td>
  <td style="min-width: 30%;">
  <% if @user.id == session[:user_id] %>
  <p><%= link_to image_tag("edit_profile.png", :border=>0)+' Edit My Profile', {:action => :edit, :id => @user.id}, :class => :head %></p>
  <% end %>
  </td></tr>
  </table>
</div>

<h3>Friends</h3>
<ul>
<% for relationship in @user.relationships -%>
<li><%= link_to relationship.friend.name, {:action => :show, :id => relationship.friend.id } %></li>
<% end -%>
</ul>

<h3>Recent Torrents</h3>
<%= render :partial => "shared/torrents", :locals => { :current_user => @user, :torrents => @torrents, :allow_sorting => false, :display_seeders_and_leechers => true, :display_categories => true, :seeders => @seeders, :leechers => @leechers} %>
<br />
<%= link_to 'View Uploaded Torrents', :action => :files, :id => @user.id %>
<br /><br />
<%= button_to 'Back', users_path, :method => :get %>


