
<div id="headline">
  <h1><%=h @user.name %></h1>
  <% if @user.id == session[:user_id] %>
  <p><%= link_to image_tag("edit_profile.png", :border=>0)+' Edit my profile', {:action => :edit, :id => @user.id}, :class => :head %></p>
  <% end %>
</div>
<br />

<p>
  <b>Facebook Name:</b>
  <%=h @user.name %><br />
  <b>Facebook ID:</b>
  <%=h @user.fb_id %>
</p>
<b>Friends</b>
<ul>
<% for relationship in @user.relationships -%>
<li><%= link_to relationship.friend.name, {:action => :show, :id => relationship.friend.id } %></li>
<% end -%>
</ul>


<%= link_to 'Back', users_path %>


