<div id="header">
<div id="side">
  <% if session[:user_name] %>
    <%= link_to session[:user_name], {:controller => :users, :action => :show, :id => session[:user_id]} %><br />
    <%= link_to "Profile", {:controller => :users, :action => :show, :id => session[:user_id]} %><div style="color: white; display: inline;"> :</div>
  <% else %>
  <br />
  <% end %>
  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML" %>
  <%= link_to_function 'Logout', "FB.Connect.logoutAndRedirect('/users/logout')" %>
  </div>
  <a class="image" href="http://torrentpho.be">
  <br />
  </a>
</div>
<div id="tabs">
  <ul>
    <li><%= link_to "Home", {:controller => :home}, :class => tab_class(:home) %></li>
    <li><%= link_to "Users", {:controller => :users}, :class => tab_class(:users) %></li>
    <li><%= link_to "Torrents", {:controller => :torrents}, :class => tab_class(:torrents) %></li>
    <li><%= link_to "Categories", {:controller => :categories}, :class => tab_class(:categories) %></li>
    <li class="last"><%= link_to "Tags", {:controller => :tags}, :class => tab_class(:tags) %></li>
  </ul>
  <div id="search">
  </div>
</div>
