<% display_categories ||= false %>
<% display_seeders_and_leechers ||= false %>
<% display_next_prev_links ||= false %>
<% allow_sorting = true if allow_sorting.nil? %>
<% if torrents.length > 0 %>
<table id="pretty-table">
  <tr>
    <th></th>
    <th style="min-width: 480px; width: 100%">
      <% if allow_sorting %><%= sort_link "Name", :name %><% else %><%= "Name" %><% end %>
    </th>
    <th style="padding-left: 10px; text-align: center;">
      <% if allow_sorting %><%= sort_link "Size", :size %><% else %><%= "Size" %><% end %>
    </th>
    <% if display_categories %>
    <th style="text-align: center;">
      <% if allow_sorting %><%= sort_link "Category", :category %><% else %><%= "Category" %><% end %>
    </th>
    <% end %>
    <% if display_seeders_and_leechers %>
    <th style="text-align: center;">
      <% if allow_sorting %><%= sort_link "Seeders/<br />Leechers", :category %><% else %><%= "Seeders/<br />Leechers" %><% end %>
    </th>
    <% end %>
  </tr>
<% seeders = Swarm.get_all_seeders current_user.id %>
<% leechers = Swarm.get_all_leechers current_user.id %>
<% for torrent in torrents %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td style="border: none; padding: 0;"><%= link_to image_tag("download_arrow.png"), :controller => :torrents, :action => :download_torrent_file, :id => torrent.id %></td>
    <td><%= link_to torrent.name, torrent %></td>
    <td style="padding-left: 10px; text-align: center;"><%=h display_size(torrent.size) %></td>
    <% if display_categories %>
    <td style="text-align: center; min-width: 100px;"><%=h torrent.category.name %></td>
    <% end %>
    <% if display_seeders_and_leechers %>
    <td style="text-align: center; min-width: 100px;"><%= seeders[torrent.id].to_s %>/<%= leechers[torrent.id].to_s %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% if display_next_prev_links %>
<table style="width: 100%;"><tr>
<td style="text-align: left;">
<% if params[:pageid] && params[:pageid].to_i > 0 %>
<%= link_to "Previous page", { :pageid => (params[:pageid].to_i - 1), :c => params[:c], :d => params[:d] } if (params[:pageid]) && 
(params[:pageid].to_i) %> 
<% end %>
</td>
<td style="text-align: right;">
<%= link_to "Next page", { :pageid => (params[:pageid].to_i+1) || 1, :c => params[:c], :d => params[:d] } %> 
</td>
</tr></table>
<%end %>
<% else %>
No torrents available
<% end %>
