<p>
  <b>My Facebook Name:</b>
  <%=h @user.name %><br />
  <b>My Facebook ID:</b>
  <%=h @user.fb_id %>
</p>
<b>Relationships</b>
<ul>
<% for relationship in @user.relationships -%>
<li><%= relationship.friend.name %></li>
<% end -%>
</ul>

<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>
<b>Facebook Friends</b>
<ul>
<% for friend in @friends[0..20] -%>
<li><%=h friend.id %></li>
<% end -%>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to_function 'Logout of Facebook', "FB.Connect.logoutAndRedirect('/users/logout')" %>


