<p>
  <b>Fb:</b>
  <%=h @user.fb_id %>
</p>
Relationships
<ul>
<% for relationship in @user.relationships -%>
<li><%=h relationship.friend.fb_id %>
<% end -%>
</ul>

<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>
Facebook Friends
<ul>
<% for friend in @friends[0..50] -%>
<li><%=h friend %>
<% end -%>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<a href="#" onclick="FB.Connect.logoutAndRedirect('/users/logout')">Logout of Facebook</a>

