<% display_categories ||= false %>
<% if torrents.length > 0 %>
<table>
  <tr>
    <th></th>
    <th style="min-width: 590px; width: 100%"><%= sort_link "Name", :name %></th>
    <th style="padding-left: 10px; text-align: center;"><%= sort_link "Size", :size %></th>
    <% if display_categories %>
    <th style="text-align: center;"><%= sort_link "Category", :category_id %></th>
    <% end %>
  </tr>

<% for torrent in torrents %>
  <tr>
    <td style="padding: 0;"><%= link_to image_tag("download_arrow.png"), :action => :download_torrent_file, :id => torrent %></td>
    <td><%= link_to torrent.name, torrent %></td>
    <td style="padding-left: 10px; text-align: center;"><%=h display_size(torrent.size) %></td>
    <% if display_categories %>
    <td style="text-align: center; min-width: 100px;"><%=h torrent.category.name %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% else %>
No torrents available
<% end %>
<br />

