<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
  </tr>

<% for category in @categories %>
  <tr>
    <td><%=h category.name %></td>
    <td><%=h @counts[category.id] ||= 0 %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
