<h1>New Torrent</h1>


<% form_for( :torrent, @torrent, :url => {:action => 'create'},:html => {:multipart => true}) do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p style="font-weight: bold">
    1. Select your torrent file: <%= f.file_field 'torrent_file', :size => 40 %><br /><br />
    2. Pick a category:
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, {:include_blank =>''}) %>
    <br /><br />
    3. Tag your torrent (Comma Separated): <%= f.text_field :tag_list %><br /><br />
  </p>
  <div style="text-align: center;">
  <%= submit_tag "Upload It!", :style=>"font-size: 24px; font-weight: bold;" %>
  </div>
<% end %>

<br /><br />
<%= button_to 'Back', torrents_path, :method => :get %>
