<h1><%=h @torrent.name %></h1>

<p>
  <b>Name:</b>
  <%=h @torrent.name %>
</p>

<p>
  <b>Size:</b>
  <%=h display_size(@torrent.size) %>
</p>

<p>
  <b>Category:</b>
  <%=h @torrent.category.name %>
</p>

<p>
  <b>Tags:</b>
  <%=h @torrent.tag_list %>
</p>

<p>
  <b>Uploader:</b>
  <%=h User.find_by_id(@torrent.owner_id).name %>
</p>

<%= button_to "Download" , {:action => :download_torrent_file, :id => @torrent.id}, :id => :inline %>
<% if @torrent.owner_id == session[:user_id] %>
<%= button_to "Edit" , {:action => "edit", :id => @torrent.id}, { :method => :get, :id => :inline } %>
<%= button_to 'Delete', {:action => "delete", :id => @torrent.id} , {:confirm => 'Are you sure?', :method => :delete, :id => :inline } %>
<% end %>

<br /><br /><br />
<%= button_to 'Back', torrents_path, :method => :get %>


